{
  "extends": "airbnb",
  "plugins": [
    "html"
  ],
  "rules": {
    "no-trailing-spaces": ["error", { "skipBlankLines": true }]
  },
  "globals": {
    "localStorage": false,
    "window": false,
  }
}
